.app-window{
  background-color: #00b3ee;
  height: 100vh;
  width:100vw;
}
.menuebar{
  margin-top: 0px;
  background-color:#9d9d9d;
  height: 2em;
  width: 100%;
}
.main-window{
  background-color: #5e5e5e;
  width:100%;
  height: 100%;
}
